body {
  background-color: #f8f8f5;
}
h1{
	font-size:70px;
	font-family: 'Playfair Display', serif;
    font-weight: 700;
	margin:3px 250px 3px 2px;
}
header {
    display: flex;
    align-items: center; 
    justify-content: space-between;	
    gap: 20px; 
}
#search{
	border-radius:20px;
	border-width:1px;
	width:30%;
	height:40px;
	font-size:16px;
	font-family: 'Lora', serif;
	line-height: 1.6;
	text-indent:10px;
	margin:3px 5px 3px 600px;
}
.search button {
	padding: 7px;
	cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
  margin:3px 5px 3px 40px;
}
.main_logo{
	border-radius:100px;
	display:inline-block;
}
nav{
	text-indent:270px;
	font-size:30px;
	border:solid;
	border-width:1px;
	border-color:#92C752;
	height:60px;
	padding:30px 100px 8px 100px;
	background-color:#92C752;
	box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

a{
	font-family:'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
	color:#000000;
	text-decoration:none;
	margin:3px 5px 3px 60px;
} 
a:link {
color:#000000;
}
a:visited {
color:#000000;
}
a:hover {
color:#181966;
}
a:active {
color:#6B3CB5;
}
.partniori{
	font-size:40px;
	font-family: 'Lora', serif;
	line-height: 1.6;
}
.partniori_text{
	font-size:25px;
	font-family: 'Lora', serif;
	line-height: 1.6;
}
.text_box {
  flex: 2;
}
.partniori_fieldset{
	display: flex;
    gap: 20px;
    align-items: center;
	background-color: #ffffff;
}
.photo{
	border-radius:20px;
	width:80%;
	height:auto;
}
#photo1{
	border-radius:20px;
	width:90%;
	height:auto;
}
.image_box{
	flex: 1;
    text-align: center;
}
.image_source{
	font-size:17px;
	font-family: 'Lora', serif;
	line-height: 1.6;
}
footer{
	background-color:#DBDBDB;
}
.social_media{
	font-family: 'Lora', serif;
	line-height: 1.6;
	font-size:40px;
	display: flex;
    align-items: center;   
    gap: 20px; 
}
.footer_social_media{
    display: flex;
    align-items: center;
    gap: 20px;
}
.copyright{
    font-family: 'Lora', serif;
	line-height: 1.6;
    font-size: 30px;
}